BODY
{
	background-image: url("/TechLaw/images/body_bg.jpg");
	font-size: 10pt;
	margin: 0px;
	background-repeat: repeat;
	
}

H1
{
    /*COLOR: #6666CC;*/
    font-family: sans-serif;
    TEXT-TRANSFORM: capitalize;
    font-weight: bold;
    color: black;
   
}
H2
{
    /* COLOR: #6666CC; */
    FONT-FAMILY: 'Times New Roman';
    TEXT-TRANSFORM: capitalize;
    color: black;
}
H3
{
  
    FONT-FAMILY: 'Times New Roman';
    TEXT-TRANSFORM: capitalize
}

H4
{
    COLOR: #6666CC;
    FONT-FAMILY: 'Times New Roman';
    TEXT-TRANSFORM: capitalize
}

H5
{
    COLOR: #6666CC;
    FONT-FAMILY: 'Times New Roman';
    TEXT-TRANSFORM: capitalize
}
H6
{
    COLOR: #6666CC;
    FONT-FAMILY: 'Times New Roman';
    TEXT-TRANSFORM: capitalize
}
TH {
 color: #6060cc
}
#message p{
	text-align:justify;
}

a
 {
 color: #08c;
 }
 a:visited
 {
  text-decoration: none; 
  
 
 }


a:hover
 {
  text-decoration: underline; 
  color: red;
  }
